:root {
  --primary-color: #cf1d16;
  --primary-light-color: #d33e34;
  --color-white: #fff;
  --color-white-light: #f8f9fa;
  --color-white-lighter: #f7f7f7;
  --color-grey: #d8dbdd;
  --color-grey-dark: #797877;
  --color-black-main: #000000;
  --color-black-light: #262626;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Edu NSW ACT Hand Pre", cursive;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

/* Start of Header Stylings */
.contacts-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}

@media screen and (max-width: 43.75em) {
  .contacts-header {
    display: none;
  }
}

.contact {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact i,
.contact p {
  color: var(--color-grey-dark);
}

.contact p {
  font-weight: 600;
}

/* End of Header Stylings */
