:root {
  --primary-color: #cf1d16;
  --primary-light-color: #d33e34;
  --color-white: #fff;
  --color-white-light: #f8f9fa;
  --color-white-lighter: #f7f7f7;
  --color-grey: #d8dbdd;
  --color-grey-dark: #797877;
  --color-black-main: #000000;
  --color-black-light: #262626;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Edu NSW ACT Hand Pre", cursive;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

/* Start of Header Stylings */
.contacts-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}

@media screen and (max-width: 43.75em) {
  .contacts-header {
    display: none;
  }
}

.contact {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact i,
.contact p {
  color: var(--color-grey-dark);
}

.contact p {
  font-weight: 600;
}

.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.sarova-logo-link {
  color: var(--color-black-main);
  text-transform: uppercase;
  font-family: var(--secondary-font);
}

.logo {
  font-size: 2rem;
  font-weight: 800;
}
.menu-btn {
  display: none;
}
.navigation-items-list {
  display: flex;
  gap: 2rem;
  align-items: center;
}

@media (max-width: 800px) {
  .navigation-items-list {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 750px) {
  .navigation-items-list {
    display: none;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-grey-dark);
    font-weight: 700;
    padding: 0.5rem 1rem;
  }
}

.nav-item a {
  font: 2rem;
  color: var(--color-black-main);
  font-weight: 600;
  text-transform: capitalize;
}

.nav-ctn-btn {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  border-radius: 5px;
}

.nav-ctn-btn a {
  color: white;
  font-weight: 600;
  text-transform: capitalize;
}
/* End of Header Stylings */

/* Hero Styling Start */
.hero-section {
  border: 1px solid red;
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.hero-title .top {
  color: var(--primary-light-color);
  text-transform: capitalize;
  font-size: 5rem;
  font-family: var(--secondary-font);
  text-align: center;
}

.hero-title .bottom {
  text-transform: uppercase;
  font-size: 5rem;
  color: white;
  text-align: center;
}

@media (max-width: 700px) {
  .hero-title .top,
  .hero-title .bottom {
    font-size: 4rem;
  }
}

.menu-wrapper-container {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-preview-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-menu-wrapper {
  --image-wraper-dimensions: 8rem;
  height: var(--image-wraper-dimensions);
  width: var(--image-wraper-dimensions);
}

.image-menu-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.menu-preview-title {
  text-transform: capitalize;
  color: var(--color-white-light);
  font-size: 2rem;
  margin: 0.5rem 0;
  text-align: center;
}

.mene-preview-description {
  text-transform: capitalize;
  color: var(--color-grey);
  font-size: 1.3rem;
  text-align: center;
}
/* Hero Styling End */
