:root {
  --primary-color: #cf1d16;
  --primary-light-color: #d33e34;
  --color-white: #fff;
  --color-white-light: #f8f9fa;
  --color-white-lighter: #f7f7f7;
  --color-grey: #d8dbdd;
  --color-grey-dark: #797877;
  --color-black-main: #000000;
  --color-black-light: #262626;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Edu NSW ACT Hand Pre", cursive;
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--primary-color);
  color: white;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}

/* Start of re-usable components */
.title {
  position: relative;
}

.min-title {
  text-transform: capitalize;
  font-family: var(--secondary-font);
  font-size: 6rem;
  font-weight: bolder;
  color: var(--primary-light-color);
  position: absolute;
  left: 40%;
  bottom: 30%;
  z-index: 3;
}

.main-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 6rem;
  position: relative;
  z-index: 5;
  font-weight: bolder;
}

@media screen and (max-width: 700px) {
  .main-title {
    font-size: 4rem;
  }

  .min-title {
    font-size: 5rem;
    left: 30%;
  }
}

@media screen and (max-width: 420px) {
  .min-title {
    font-size: 4rem;
    bottom: 20%;
  }

  .main-title {
    font-size: 3rem;
  }
}
/* End of re-usable components */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

/* Start of Header Stylings */
.contacts-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}

@media screen and (max-width: 43.75em) {
  .contacts-header {
    display: none;
  }
}

.contact {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact i,
.contact p {
  color: var(--color-grey-dark);
}

.contact p {
  font-weight: 600;
}

.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.sarova-logo-link {
  color: var(--color-black-main);
  text-transform: uppercase;
  font-family: var(--secondary-font);
}

.logo {
  font-size: 2rem;
  font-weight: 800;
}
.menu-btn {
  display: none;
}
.navigation-items-list {
  display: flex;
  gap: 2rem;
  align-items: center;
}

@media (max-width: 800px) {
  .navigation-items-list {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 750px) {
  .navigation-items-list {
    display: none;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-grey-dark);
    font-weight: 700;
    padding: 0.5rem 1rem;
  }
}

.nav-item a {
  font: 2rem;
  color: var(--color-black-main);
  font-weight: 600;
  text-transform: capitalize;
}

.nav-ctn-btn {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  border-radius: 5px;
}

.nav-ctn-btn a {
  color: white;
  font-weight: 600;
  text-transform: capitalize;
}
/* End of Header Stylings */

/* Scroll button styling start  */

.scroll-btn {
  --scroll-btn-length: 5rem;
  width: var(--scroll-btn-length);
  height: var(--scroll-btn-length);
  background-color: var(--primary-light-color);
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 3rem;
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  z-index: 100;
}

/* Scroll button styling End  */

/* Hero Styling Start */
.hero-section {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  padding-bottom: 2rem;
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

@keyframes top-animation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(-68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}

.hero-title .top {
  color: var(--primary-light-color);
  text-transform: capitalize;
  font-size: 5rem;
  font-family: var(--secondary-font);
  text-align: center;
  animation: top-animation 2s ease-in-out 2s 1 normal forwards;
}

@keyframes bottom-animation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(32px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}

.hero-title .bottom {
  text-transform: uppercase;
  font-size: 5rem;
  color: white;
  text-align: center;
  animation: bottom-animation 3s ease-in-out 2s 1 normal forwards;
}

@media (max-width: 700px) {
  .hero-title .top,
  .hero-title .bottom {
    font-size: 4rem;
  }
}

.menu-wrapper-container {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-preview-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-menu-wrapper {
  --image-wraper-dimensions: 8rem;
  height: var(--image-wraper-dimensions);
  width: var(--image-wraper-dimensions);
}

.image-menu-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.menu-preview-title {
  text-transform: capitalize;
  color: var(--color-white-light);
  font-size: 2rem;
  margin: 0.5rem 0;
  text-align: center;
}

.mene-preview-description {
  text-transform: capitalize;
  color: var(--color-grey);
  font-size: 1.3rem;
  text-align: center;
}
/* Hero Styling End */

/* Meals Category Stylings Start */

.meals-category-wrapper {
  padding: 10rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  background-color: var(--color-grey);
}

.meal-category {
  width: 25rem;
}

.meal-image {
  width: 8rem;
  display: block;
  margin: 0 auto;
}

.meals-title,
.meals-description {
  text-align: center;
}

.meals-title {
  color: var(--primary-light-color);
  text-transform: capitalize;
  margin: 1rem 0;
  font-size: 2rem;
}

.meals-description {
  color: var(--color-grey-dark);
  font-size: 1.4rem;
}
/* Meals Category Stylings End */

/* Start of Special Dishes Styling */
.special-dishes-section {
  padding: 10rem 5rem;
}

@media screen and (max-width: 930px) {
  .special-dishes-section {
    padding: 10rem 1rem;
  }
}

.special-meals-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding-top: 6rem;
}

.special-meal-card {
  --meal-card-width: 35rem;
  width: var(--meal-card-width);
  height: var(--meal-card-width);

  position: relative;
  overflow: hidden;
}

.special-meal-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s cubic-bezier(0.22, 0.6, 0.86, 0.49);
}

.special-meal-card:hover img {
  transform: scale(1.5);
}

.meals-description-container {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 1rem;
}

.meal-price {
  color: white;
  background-color: var(--primary-light-color);
  --custom-meal-width: 12rem;
  width: var(--custom-meal-width);
  height: var(--custom-meal-width);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: 3rem;
  transition: all 0.4s cubic-bezier(0.15, 0.81, 0.86, 0.49);
}

.special-meal-card:hover .meal-price {
  transform: scale(1.1);
  background-color: transparent;
  border: 2px solid var(--color-white-light);
}

.meal-title {
  color: white;
  text-transform: uppercase;
  text-align: center;
}

/* End of Special Dishes Styling */

/* Start of Menu Stylings */
.menu-section {
  background-color: var(--color-white-lighter);
  padding: 10rem 5rem;
  margin: 5rem 0;
}

.menu-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  padding-top: 5rem;
}
.menu-card-description {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 1.5rem;
  background-color: var(--color-white);
  box-shadow: -1px 3px 14px 0px rgba(223, 219, 219, 0.75);
  -webkit-box-shadow: -1px 3px 14px 0px rgba(184, 170, 170, 0.75);
  -moz-box-shadow: -1px 3px 14px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.menu-title {
  display: flex;
  justify-content: space-between;
}

.menu-heading {
  font-size: 2rem;
  text-transform: capitalize;
}

.menu-price {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-light-color);
}

.menu-description {
  font-size: 1.4rem;
  color: var(--color-grey-dark);
  margin-top: 1rem;
}

@media screen and (max-width: 800px) {
  .menu-cards-wrapper {
    flex-direction: column;
  }

  .menu-card-description {
    width: 95%;
  }

  .menu-cards-wrapper {
    align-items: center;
  }

  .menu-section {
    padding: 10rem 2rem;
  }
}
/* End of Menu Stylings */
